body {
    overflow-x: hidden;
}

.header-container {
    padding: 0;
}

.header {
    display: flex;
    align-items: flex-end;
}

.header-title{
    display: flex;
    justify-content: center;
}

.header-title h3{
    color: red;
    font-style: italic;
}

.header-logo{
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.header-logo img{
    width: 150px;
    height: 110px;
}

.menu{
    display: flex;
    justify-content: center;
    background-color: #0EC0C3;
    height: 50px;
}

.menu li.active{
    background-color: #ed8116;
}

.airblade h2{
    text-align: center;
    color: #74B3B6;
}

.img-sub{
    height: 165px;
    padding: 5px 0;
}

.best-seller-title{
    text-align: center;
    color: #74B3B6;
}

.motor-image{
    width: 360px;
    height: 342px;
}

.motor-title{
    color: #D7B9A9
}

.info-title{
    text-align: center;
    color: #74B3B6;
}

.footer{
    color: white;
    background-color: #0EC0C3;
    text-align: center;
    padding: 15px 0;
    margin-top: 15px;
}

@media only screen and (max-width: 426px){
    .header{
        flex-direction: column;
        align-items: center;
    }

    .menu {
        justify-content: flex-end;
        height: max-content;
    }

    .navbar-header{
        width: 100vw;
    }
    .img-sub{
        width: 690px;
        height: max-content;
    }
}